/*  SELETORES PERSONALIZADOS
            # = id
            . = class
            : = pseudo-classe
            :: = Pseudo-element
            > = Children
        */
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        a {
            color: red;
            text-decoration: none;
            font-weight: bold;
        }

        a:visited {
            color: darkred;
        }

        a:hover {
            color: black;
            text-decoration: underline;
        }

        a:active {
            color: yellow;
        }

        .especial  {
            background-color: rgb(255, 140, 140);
        }

        .especial::before {
            content: ' тнв';
        }

        .especial::after {
            content: ' тна'
        }